.spacer {
  position: fixed;
  padding-top: calc(400 / 4000 * 100%); /* Calculate the aspect ratio */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 

}

.layer1 {
  position: flex;
  max-width: 100%;
  height: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./layer1.svg');
  z-index: -1; /* Set an even lower z-index to place it behind the content */
  opacity: 1;
  transition: opacity 1.0s ease; /* Add a transition for opacity */
  
  
}

.layer1.fade-out {
  opacity: 0; /* Set opacity to 0 to fade out */
  pointer-events: none; /* Disable pointer events for the faded out layer */

}
.spacer-test{
  display: flex; /* Use flexbox to align items */
  position: flex;


}
.blob {

  max-width: 100%;
  top: 0;
  left: 0; /* Adjust the left position to keep it in place */
  width: 100%; /* Change the width as needed */
  height: 100%;
  background-image: url('./blob.svg');
  z-index: -1; /* Set an even lower z-index to place it behind the content */
  opacity: 1;
}

.blob2 {
  
  max-width: 100%;
  top: 0;
  left: 0; /* Adjust the left position to keep it in place */
  width: 100%; /* Change the width as needed */
  height: 100%;
  background-image: url('./blob2.svg');
  z-index: -1; /* Set an even lower z-index to place it behind the content */
  opacity: 1;
}

.centered-content {
  display: flex; /* Use flexbox to align items */
  flex-direction: row;

  grid-row: 2/5;
  grid-column: 2/2;
  z-index: 2; /* Set a higher z-index to ensure it's above the background wave */
  padding-left: 30px;
  margin-top: 50px;
}

.main-text {
  color: black;
  font-style: normal;
  font-size: 40px;
  position: flex; /* Set the position to relative */
  z-index: 2; /* Set a higher z-index to ensure it's above the background wave */
  width: 400px;

  
}

.personal-image-container {
  height: 370px;
  width: 350px;
  justify-self: center;
  margin-left: 80px;
  border: 5px solid #2B2D42; /* Add solid border with color */
  border-radius: 10px; /* Correct the border-radius value */
  z-index: 1; /* Set a higher z-index to ensure it's above the background wave */
  
  /* Add box shadow */
  box-shadow: 0 8px 10px #2B2D42 /* Adjust the shadow values as needed */
}


.centered-content2{
  flex-direction: row;

  display: flex; /* Use flexbox to align items */
  grid-row: 7/7;
  grid-column: 2/2;
  padding-left: 30px;
  margin-top: 20px;
  z-index: 1; /* Set a higher z-index to ensure it's above the background wave */

}

.centered-buttons {
  display: flex;
  flex-direction: row;

  justify-items: right;
  margin-top: 0px;
  margin-left: 150px; /* Adjust the margin to align with the LinkedIn picture */
  
  
}
.bi-linkedin{
  height: 50px;
  width: 50px;
  color:black;
  
  
}
.picture-buttons{
  background-color: #EDF2F4;
  border: 4px solid #2B2D42;
  border-radius: 0px;
  box-shadow: #2B2D42 0px 4px 0 0;
  color: #2B2D42;
  cursor: pointer;
  height: 30px;
  width: 100px;
  font-size: 10px 'bold';
  font-weight: 600;
  font-size: 15px;

}

.picture-buttons:active {
  box-shadow: #2B2D42  2px 2px 0 0;
  transform: translate(2px, 2px);
}

.content-headers
{
  color:#2B2D42;
}
.centered-content3{
  display: flex; /* Use flexbox to align items */
  margin-top: 30px;
  padding-left: 30px;
  grid-row: 9/14;
  grid-column: 2/2;

}


@media screen and (max-width: 800px) {
  .centered-content,
  .centered-content2,
  .centered-content3 {
    flex-direction: column; /* Change to column layout on smaller screens */
    align-items: center; /* Center items vertically */
    padding-left: 0; /* Remove left padding */
    margin-top: 0; /* Remove top margin */
  }
  .centered-content2{
    grid-row:  10/10;

  }
  .centered-content3{
    grid-row:  13/20;

  }
  .centered-buttons {
    margin-left: 0; /* Remove left margin for centered alignment */
    justify-content: center; /* Center the buttons horizontally */
  }
}


@media screen and (max-width: 450px) {

  .centered-content,
  .centered-content2,
  .centered-content3 {
    flex-direction: column; /* Change to column layout on smaller screens */
    align-items: center; /* Center items vertically */
    padding-left: 0; /* Remove left padding */
    margin-top: 0; /* Remove top margin */
  }

  .centered-content {
    display: flex; /* Use flexbox to align items */
    grid-row: 2/7;
    grid-column: 2/2;
    z-index: 2; /* Set a higher z-index to ensure it's above the background wave */
   
    margin-top: 50px;
  }
  
  .picture-buttons{
    background-color: #EDF2F4;
    border: 4px solid #2B2D42;
    border-radius: 0px;
    box-shadow: #2B2D42 0px 4px 0 0;
    color: #2B2D42;
    cursor: pointer;
    height: 40px;
    width: 100px;
    font-size: 10px 'bold';
    font-weight: 600;
    font-size: 16px;
  
  }
  .centered-content2{
    grid-row:  8/9;
    font-size: 10px
  }
  .centered-content3{
    grid-row:  10/14;
    font-size: 10px


  }


  .main-text {
      color: black;
      font-style: normal;
      font-size: 25px;
      position: flex; /* Set the position to relative */
      z-index: 2; /* Set a higher z-index to ensure it's above the background wave */
      width: 300px;
    
      
    }
    
    .personal-image-container {
      height: 300px;
      width:320px;      
      margin-left: 0px;
      border: 5px solid #2B2D42; /* Add solid border with color */
      border-radius: 10px; /* Correct the border-radius value */
      z-index: 1; /* Set a higher z-index to ensure it's above the background wave */
      
      /* Add box shadow */
      box-shadow: 0 8px 10px #2B2D42 /* Adjust the shadow values as needed */
    }
    
    
 
    
  }
