
.spacer {
  position: fixed;
  padding-top: calc(400 / 4000 * 100%); /* Calculate the aspect ratio */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 

}

.layer1 {
  position: flex;
  max-width: 100%;
  height: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./layer1.svg');
  z-index: -1; /* Set an even lower z-index to place it behind the content */
  transition: opacity 0.5s ease; /* Add a transition for opacity */
  
}

.layer1.fade-out {
  opacity: 0; /* Set opacity to 0 to fade out */
}

.centered-content {
  grid-row: 2/3;
  grid-column: 2/2;
  z-index: 2; /* Set a higher z-index to ensure it's above the background wave */
  padding-left: 30px;
  margin-top: 50px;
}

.main-text {
  color: #2B2D42;
  font-style: normal;
  font-size: 40px;
  position: flex; /* Set the position to relative */
  z-index: 2; /* Set a higher z-index to ensure it's above the background wave */
  width: 400px;

  
}

.personal-image-container {


  height: 400px;
  width: 350px;
  justify-self: center;
  padding-left: 100px;
  border-radius: 50px;
  position: flex; /* Set the position to relative */
  z-index: 2; /* Set a higher z-index to ensure it's above the background wave */
}